@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

/* FRONT COLORS */
$green-corp:#96ce00;
$yellow-corp: #FFCC00;
$red-corp: red;
$enabled-color:white;
$disabled-color:gray;
$blue-trans-background: rgba(26,39,50,0.9);//rgba(1, 34, 62, 0.9);//rgba(0, 32, 60, 0.43);
$blue-icons: #1a2732;
$blue-corp: #1a2732;
$animation-time: .2s;
$gray: #e9ecef;


$break-small: 320px;
$break-medium: 768px;
$break-large: 1200px;

/* SIZES */
$top-page-padding: 20px;
$left-page-padding:30px;



